## Scheduler -> recommendation table delete

In [1]:
import pymysql
import pandas as pd
from datetime import datetime

In [3]:
closet_db = pymysql.connect(
    user='root', 
    passwd='svtcarat0526', 
    host='13.124.208.47', 
    db='closet', 
    charset='utf8'
)

cursor = closet_db.cursor(pymysql.cursors.DictCursor)

sql = "SELECT * FROM `recommendation` WHERE recommend_at ;"
cursor.execute(sql)
result = cursor.fetchall()
result = pd.DataFrame(result)
result

,id,bottom_id,outer_id,top_id,user_id,recommend_at,dress_id,neat_id,outer2_id
0,14,46.0,NaN,55.0,2,2020-09-18,NaN,NaN,NaN
1,15,NaN,NaN,NaN,2,2020-09-18,57.0,NaN,NaN
2,16,46.0,NaN,56.0,2,2020-09-18,NaN,NaN,NaN
3,17,46.0,NaN,56.0,2,2020-09-09,NaN,NaN,NaN
4,18,NaN,NaN,NaN,2,2020-09-08,57.0,NaN,NaN
5,19,46.0,41.0,49.0,2,2020-09-18,NaN,NaN,42.0
6,20,46.0,50.0,49.0,2,2020-09-18,NaN,51.0,NaN
7,21,46.0,41.0,45.0,2,2020-09-18,NaN,NaN,53.0

In [ ]:
test1=Recommendation()

In [ ]:
[('beige_none_longsleeve','black_none_longskirt','gray_none_cardigan','gray_none_coat'), ('beige_none_longsleeve','beige_none_longskirt','gray_none_cardigan','black_none_coat')]